<h1 class='ml-4'><%= fa_icon("code") %></h1>

<%= link_to("new snippet", new_snippet_path) %>

<% @snippets.each do |snippet| %>
  <p><%= snippet.code %><%= link_to('編集', "/snippets/#{snippet.id}/edit")%></p>
<% end %>

<%= link_to '戻る', url_for(:back) %>