<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <%= user.errors.full_messages do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, '名前' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, 'email' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password, 'password' %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'password再入力' %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>