<h1><%= @book.title %></h1>
<p>書籍情報</p>
<p>購入価格:</p>
<p><%= @book.price %>円</p>
<p>全ページ数:</p>
<p><%= @book.pages %>ページ</p>
<p>購入した日: </p>
<p><%= @book.bought_at %>購入</p>
<p>何ができるようになる？: </p>
<p><%= @book.purpose %></p>
<p>コンテンツ一覧</p>
<% @contents.each do |content| %>
  <p><%= link_to(content.title, "/contents/#{content.id}") %></p>
<% end %>
<%= link_to('コンテンツ追加', "/contents/#{@book.id}/new") %> |
<%= link_to('書籍情報編集', edit_book_path) %> |
<%= link_to '戻る', :back %>