<div class="container-fluid d-flex row">
  <div class="col-sm-4 border-right">
    <h1><%= fa_icon("folder") %> <%= @backlog.count%></h1>
      <% @backlog.each do |post_it| %>
        <p class="border-top">
          <%= link_to(post_it.memo, "/post_its/parts/#{post_it.id}") %>
        </p>
      <% end %>
  </div>
  <div class="col-sm-4 border-right">
    <h1><%= fa_icon("folder-open") %> <%= @in_progress.count%></h1>
    <% @in_progress.each do |post_it| %>
      <p class="border-top">
        <%= link_to(post_it.memo, "/post_its/parts/#{post_it.id}") %>
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h1><%= fa_icon("check") %> <%= @done.count%></h1>
    <% @done.each do |post_it| %>
      <p class="border-top">
        <%= link_to(post_it.memo, "/post_its/parts/#{post_it.id}") %>
      </p>
    <% end %>
  </div>
</div>