<div class="container-fluid d-flex row">
  <div class="col-sm-4 border-right">
    <a href="/post_its/kanban/backlog" class="text-dark">
      <h1><%= fa_icon("folder") %> <%= @backlog.count%></h1>
    </a>
      <% @backlog.each do |post_it| %>
        <p class="border-top d-flex row">
          <%= link_to(post_it.memo, "/post_its/parts/#{post_it.id}", class: :'col-11') %>
          <%#= link_to(fa_icon("play"), post_it_path(post_it, post_it: {status: :in_progress}), method: :patch, class: :'btn btn-info col-1 btn-sm') %>
        </p>
      <% end %>
  </div>
  <div class="col-sm-4 border-right">
    <a href="/post_its/kanban/in_progress" class="text-dark">
      <h1><%= fa_icon("folder-open") %> <%= @in_progress.count%></h1>
    </a>
    <% @in_progress.each do |post_it| %>
      <p class="border-top">
        <%= link_to(post_it.memo, "/post_its/parts/#{post_it.id}") %>
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <a href="/post_its/kanban/done" class="text-dark">
      <h1><%= fa_icon("check") %> <%= @done.count%></h1>
    </a>
    <% @done.each do |post_it| %>
      <p class="border-top">
        <%= link_to(post_it.memo, "/post_its/parts/#{post_it.id}") %>
      </p>
    <% end %>
  </div>
</div>