<!DOCTYPE html>
<html>
  <head>
    <title>Kanban</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white mb-3">
      <a class="navbar-brand text-white ml-4 mr-4" href="/post_its/kanban">Kanban</a>
      <div class="btn-group btn-group-sm mr-5" role="group" aria-label="kanban-menu">
        <%= link_to fa_icon("file"), post_its_kanban_path, class: :'btn btn-secondary' %>
        <%= link_to fa_icon("book"), books_kanban_path, class: :'btn btn-secondary' %>
        <%= link_to fa_icon("calendar"), calendar_index_path, class: :'btn btn-secondary' %>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to fa_icon("file"), new_post_it_path, class: :'btn btn-light mr-4' %>
        </li>
        <li class="nav-item">
          <%= link_to fa_icon("book"), new_book_path, class: :'btn btn-light mr-4' %>
        </li>
        <li class="nav-item">
          <%= link_to fa_icon("code"), new_snippet_path, class: :'btn btn-light mr-4' %>
        </li>
      </ul>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="Navber">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to("login", auth_path, class: :'nav-link text-white mr-4') unless current_user %>
          </li>
          <li class="nav-item">
            <%= link_to('logout', auth_destroy_path, class: :'nav-link text-white mr-4') if current_user %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to(fa_icon("list"), books_kanban_path, class: :'nav-link text-white mr-4', role: :button, :'data-toggle' => :dropdown, :'aria-haspopup' => true, :'aria-expanded' => false ) %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to('snippets', snippets_path, class: :'dropdown-item') %>
              <%= link_to('trash can', post_its_kanban_deleted_path, class: :'dropdown-item') %>
            </div>
          </li>
        </ul>
        <%= form_tag('/snippets/search', class: :'form-inline my-2 my-lg-0') do %>
          <%= text_field_tag(:search_code, '', class: :'form-control mr-sm-2', type: :search, placeholder: :Search, :'aria-label' => :Search) %>
          <%= submit_tag('Search', class: :'btn btn-outline-primary my-2 my-sm-0', type: :submit) %>
        <% end %>
      </div>
    </nav>
      <% if flash[:notice] %>
        <div class="flash alert alert-primary" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
  </body>
</html>
